server {
    listen 8080;
    root /var/www;
    
    # Error 1: error_page requires at least 2 values (Code + Path)
    error_page 404; 

    location /cgi-bin {
        # Error 2: cgi directive requires exactly 2 arguments (ext + path)
        cgi .py; 
        
        # Error 3: cgi directive passed too many arguments
        cgi .sh /bin/bash /usr/bin/extra_arg;
    }
}